body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:9px;
      background-color:#f0f2f5 !important;
}

:root {
    --distL: calc(0.66em + 0.66vw);
    --distM: calc(0.5em + 0.5vw);
    --distS: calc(0.33em + 0.33vw);
    --distXS: calc(0.166em + 0.166vw);
    --border1: 2px solid #f1f0f0;

    --greenTheme: #a8fc2a;
    --greenOrangeTheme: #fff239;
    --orangeTheme: #ff9925;
    --redTheme: #ff2970;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main {
    display: flex;
    width: 100%;
    flex-flow: wrap;
}

.header {
    width: 100%;
    display: flex;
}

.links {
    width: 100%;
    display: flex;
    text-decoration: underline;
}

.link {
    padding: var(--distM);
}

.redTheme {
    background-color: var(--redTheme);
}

.orangeTheme {
    background-color: var(--orangeTheme);
}

.greenOrangeTheme {
    background-color: var(--greenOrangeTheme);
}

.greenTheme {
    background-color: var(--greenTheme);
}


.paddingM {
    padding: var(--distM);
}

.margin-M-top {
    padding-top: var(--distM);
}


.container-row {
    display: flex;
    width: 100%;
    flex-flow: wrap;
}

.box{
    margin :var(--distM) !important;
    background-color:white;
    border-color: #dfe6e9!important;
}

.container-col{
    margin:var(--distM) 0;
}



.border1 {
    border: var(--border1);
}

.clickable {
    cursor: pointer;
    text-decoration: underline;

}

.clickable:hover {
    background-color: #eee;
}

.close {
    background-color: #A00;
    color: white;
    padding: var(--distS);
}

.container {
    padding: var(--distM);
    border: var(--border1);

}

.barPercentageContainer {
    background-color: #eee;
    border: var(--border1);
}

.valueUnit {

    white-space: nowrap;
    z-index: 2;
}

.row{
    width:100%;
}

@media screen and (max-width: 800px) {
    .row {
        display: unset;
    }

    .col-6 {
        width: 100%;
    }
}



.p-m{
    padding:var(--distM);
}

.m-l-m{
    margin-left:10px;
}


.left-filters{
    background-color:white;
}